<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Ruby_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:30:00Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Ruby (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_Offline</string>
				</dict>
			</dict>
			<key>Ruby_Online</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:29:34Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Ruby (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_Online</string>
				</dict>
			</dict>
			<key>Ruby_on_Rails_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:29:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ror</string>
					</array>
					<key>name</key>
					<string>Ruby on Rails (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_on_Rails_Offline</string>
				</dict>
			</dict>
			<key>Ruby_on_Rails_Online</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:29:29Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ror</string>
					</array>
					<key>name</key>
					<string>Ruby on Rails (Online)</string>
					<key>platform</key>
					<string>soonline</string>
					<key>uniqueIdentifier</key>
					<string>Ruby_on_Rails_Online</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<false/>
	<key>annotationsAreShown</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/AWS_JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ansible.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:23:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apache_HTTP_Server.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:23:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/AppleScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_4.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:29Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:13Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Express.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Flask.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:24:55Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Less.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:19Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_2.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:37Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SQLite.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:27:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:27:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Semantic_UI.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:26:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:27:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:27:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:27:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2018-09-21T03:25:04Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>49</integer>
		<key>modifiers</key>
		<integer>6144</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
